.userFormContainer {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.userForm{
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

.userForm h2 {
    text-align: center;
    color: #333;
}

.userForm > button {
    width: 60%;
    padding: 10px;
    margin: 20px 20%;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    border: 2px #000 solid;
    transition: 300ms ease-in-out;
}

.userForm > button:hover {
    background-color: #fff;
    color: #000000;
}

.userFormContainer a {
    color: #000000;
}