#addPassword{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0002;
    backdrop-filter: blur(2px);
    z-index: 1000;
    display: flex;
}

#addPassword[hidden]{
    display: none;
}

#addPasswordForm{
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    margin: 15px 10px;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 20px;
}

#addPasswordForm > label {
    margin-top: 10px;
    padding: 2px;
    font-size: 13px;
}

#addPasswordForm > input{
    font-size: 16px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid;
    margin-bottom: 10px;
}

#addPasswordForm > div {
    display: flex;
    width: 100%;
    justify-content: end;
}

#addPasswordForm > div > button{
    margin: 0 5px;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #000;
    cursor: pointer;
    color: #000;
    background-color: #fafafa;
    transition: all ease-in-out 300ms;
}

#addPasswordForm > div > button:hover{
    background-color: #000;
    color: #fafafa;
}

#addPasswordForm > div > button:disabled{
    border: 2px solid #7b7b7b;
    cursor:default;
    color: #7b7b7b;
    background-color: #fafafa;
}

#passwordListHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
    height: 30px;
}

#passwordListHeader>button {
    border-radius: 20px;
    border: none;
    padding: 0 15px;
    background-color: #fafafa;
    border: #0005 1.5px solid;
    cursor: pointer;
}

#passwordListHeader>button:hover {
    background-color: #eaeaea;
}

#passwordListSearch {
    padding: 5px 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    background-color: rgba(105, 145, 214, 0.12);
}

#passwordListSearch:hover {
    background-color: rgba(105, 145, 214, 0.3);
}

#passwordListSearch:focus {
    outline: solid 2px #0005;
}

#passwordListSearch>button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    padding: 0;
    width: 27px;
    height: 27px;
}

#passwordListSearch>button:hover {
    background-color: #0002;
}

#passwordListSearch>input {
    flex-grow: 1;
    padding: 5px;
    border: none;
    outline: none;
    background-color: transparent;
}

#passwordList {
    border-radius: 5px;
    overflow: auto;
    box-shadow: #0005 0px 1px 2px 0px, #0003 0px 2px 6px 2px;
}

#passwordListEmpty {
    padding: 0 10px;
    font-size: 14px;
}

.passwordItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
    height: 25px;
    cursor: pointer;
    background-color: #fafafa;
    border-bottom: 1.5px solid #eaeaea;
}

.passwordItem:last-child {
    border-bottom: none;
}

.passwordItem:hover {
    background-color: #eaeaea;
}

.passwordItem>.itemP {
    color: #2a2a2a;
    align-items: center;
    display: flex;
}

.passwordItem>.itemP>span {
    padding-left: 10px;
}

.passwordItem>.itemP>img {
    width: 25px;
    height: 25px;
}

.passwordItem>svg {
    position: relative;
    padding: auto;
}